.table-fixed{
    max-height: 400px;
    overflow-y: auto;
}

.cantidad{
    width: 3vw !important;
    margin: 0px;
    padding: 0px;
    height: 1.5em;
}

.espacioInferior{
    margin-bottom: 5px;
}

.tipoFactura{
    padding-top: 7px;
}


/* .modal-dialog{
    overflow-y: initial !important
} */
/* .modal-body{
    max-height: calc(100vh - 10px);
    overflow-y: auto;
} */

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
    overflow-x: hidden;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}